.title {
    /* animation: App-logo-spin infinite 20s linear; */
	text-align: center;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
        transform-origin: center center;
    }
    to {
        transform: rotate(360deg);
        transform-origin: center center;
    }
}

.grid-img {
    width: 100%;

}
